@import url('https://fonts.googleapis.com/css?family=Montserrat|Inconsolata');

$secondary-color: rgba(174, 207, 223, 1);
$primary-color: rgba(255, 238, 221, 1);
$highlight-color: rgba(164, 184, 196, 1);
$contrast-color: rgba(78, 81, 102, 1);
$text-color: rgba(23, 24, 24, 1);