@import "config";

body {
  background: lighten($secondary-color, 12);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: $text-color;
}

#timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  max-width: 600px;
  margin: 30vh auto;
  padding: 0.2rem;
  background: $primary-color;
  border-bottom: 4px solid $secondary-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 4px 4px 12px lighten($contrast-color, 35),
    1px 1px 8px $primary-color,
    2px 2px 2px $highlight-color;

    #timer-countdown {
      font-family: "Inconsolata", monospace;
      font-size: 4.5rem;
      font-weight: 200;
      letter-spacing: 0.5rem;
      color: $contrast-color;
    }

    #sessions-tally {
      margin: 1.5rem 0 0.5rem 0;
      font-size: 1.7rem;
      color:  rgba($highlight-color, 0.5);

      .tally {
        margin: 0 0.5rem;
      }

      .done {
        color: $secondary-color;
        text-shadow: 0px 0px 16px $secondary-color;
      }
    }
}

#timer-controls {
  #run-btns, #break-btn {
    display: none;
  }

  .response {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
  }
}

#info {
  position: absolute;
  top: 1vh;
  left: 95vw;
  font-size: 1.5rem;
  color: $contrast-color;
}

button {
  background: $secondary-color;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: 0 0.5rem;
  padding: 0.4rem 1.4rem;
  border: 1px dotted $primary-color;
  border-radius: 5px;
  box-shadow: 0 0 3px darken($primary-color, 10);
  transition: background 0.3s ease;

  &:hover {
    background: $highlight-color;
  }
}